.content{
    background: rgb(250,232,200);
    width: 10rem;
    height: 17.786667rem;
}
.logo1{
    width: 8.026667rem;
    height: 6rem;
    
    /* border: 1px solid #000; */
    margin: 0 auto;
}
.logo1 img{
    width: 8.026667rem;
    transform: translateY(3rem);
}
/* .content{
   
} */
.a1{
    text-align: center;
    height: 1.333333rem;
    line-height: 1.333333rem;
}
 .a1 a{
     font-size: .35rem;
    /* display: block; */
    color: gray;
    
 }
.a1 a:hover{
    color: #8585FE;
}   
.a2 {
    width: 6rem;
    height: 2.5rem ;
    margin: 0 auto;
}

input{
    
    width: 6rem;
    height: 1rem;
    border-radius: .667rem; 
    text-align: center;
    /* box-shadow: 1px 1px 1px; */
   
}
input:hover{
    box-shadow: 2px 2px 2px inset;
    background: rgb(228, 218, 218);
}
input:nth-child(2){
    transform: translateY(.266667rem );
}
input::placeholder{
    font-size: .4rem;
    text-align: center;
}
.a3{
    width:5rem;
    
    margin: 0 auto;
}
.a3 button{
    width: 5rem;
    height: 1.2rem;
    font-size: .4rem;
    margin-top: .266667rem;
    background: #8585FE;
    border-radius: .2rem;
    color: #fff;
}
.a3 button:hover{
    background: #808080;
    color: #8585FE;
}
.a4{
    width: 5rem;
    margin: 0 auto;
    overflow: hidden;
    font-size: .346667rem;
}
.a4 a{
    color: #808080;
    
}
.a4 a:hover{
    color: #8585FE;
}
.a4 span:nth-child(1){
    margin-top: .266667rem;
    float: left;
}
.a4 span:nth-child(2){
    float: right;
    margin-top: .266667rem;
}
.a5 span{
    color: #808080;
    font-size: .346667rem;
    display: block;
    margin-top: 2rem;
    margin-left: .666667rem ;
}

.a6 ul{
    
    display: flex;
    width: 6rem;
    margin: 0 auto;
    justify-content: space-between;
}
.a6 ul li{
    width: 1.333333rem;
    margin-top: .533333rem;
}
.a6 img{
    width: 1.333333rem;
}